@model GymHomeViewModels
@{
    ViewData["Title"] = "Gyms";
}


<div class="d-flex justify-content-end mb-3 mt-2">
    <a asp-controller="Gym" asp-action="Create" class="btn btn-primary">Add Gyms</a>
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card text-center shadow-sm border-primary">
            <div class="card-body">
                <h6 class="text-muted">Total Gyms</h6>
                <h3 class="text-primary">@Model.TotalGyms</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center shadow-sm border-success">
            <div class="card-body">
                <h6 class="text-muted">Total Members</h6>
                <h3 class="text-success">@Model.TotalMembers</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center shadow-sm border-warning">
            <div class="card-body">
                <h6 class="text-muted">Total Trainers</h6>
                <h3 class="text-warning">@Model.TotalTrainers</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-3">
        <div class="card text-center shadow-sm border-warning">
            <div class="card-body">
                <h6 class="text-muted">This month Revenue</h6>
                <h3 class="text-warning">Rs @Model.MonthlyRevenue.ToString("N2")</h3>
            </div>
        </div>
    </div>
</div>

<h2>Gyms</h2>

   <div class="row">
       
            @if(Model.Gyms!= null && Model.Gyms.Any())
            {
                foreach(var gym in Model.Gyms)
                { <div class="col-md-3 mb-3">

                <a asp-action="Details" asp-controller="Gym" asp-route-id=@gym.Id>
                    <div class="card shadow-sm">

                        <div class="card-body text-center">

                            <h6 class="text-muted">ID: @gym.Id</h6>
                            <h5 class="card-title">@gym.GymName</h5>
                            <p class="text-muted">📍 @gym.GymAddress</p>
                            <p class="text-muted">City: 🏙️ @gym.City</p>
                            <p class="text-muted">Phone: 📞 @gym.Phone</p>

                        </div>
                      </div>
           </a>


        </div>

 
                }
            }
    else
    {
        <div class="text-center mt-5">
            <h5 class="text-muted">No gyms added yet</h5>
            <a asp-controller="Gym" asp-action="Create" class="btn btn-primary mt-2">Add First Gym</a>
        </div>
    }
   </div>


