@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Members list</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>address</th>
                <th>phone</th>
                <th>Gender</th>
                <th>city</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.members!= null && Model.members.Any())
            {
                foreach(var member in Model.members)
                {
                    <tr>
                        <td>@member.Id</td>
                        <td>@member.MemberName</td>
                        <td>@member.Address</td>
                        <td>@member.Phone</td>
                        <td>@member.Gender</td>
                        <td>@member.city</td>
                    </tr>
                }
            }
        </tbody>
        </table>
   </div>


