@model TrainerHomeViewModels

@{
    ViewData["Title"] = "Member Details";
}
@{
    var IsOwner = Context.Session.GetString("userRole") == "Owner";
    var IsManager = Context.Session.GetString("userRole") == "Manager";
    var IsTrainer = Context.Session.GetString("userRole") == "Trainer";
}

<div class="container mt-4">

    <div class="card shadow-lg p-4">

        <div class="row">
            <div class="col-md-4 text-center">
                
                    <div style="height:200px; background:#f0f0f0; display:flex; align-items:center; justify-content:center; font-size:3rem; font-weight:700; color:#ccc;">
                        @(Model.trainer.TrainerName?.Substring(0, 1).ToUpper())
                    </div>
                
            </div>
            <div class="col-md-8">

                <h3>@Model.trainer.TrainerName</h3>
                <hr />

                <p><strong>ID:</strong> @Model.trainer.Id</p>
                <p><strong>Address:</strong> @Model.trainer.TrainerAddress</p>
                <p><strong>Phone:</strong> @Model.trainer.Phone</p>
                

                <div class="d-flex justify-content-between mt-3">

                   
                    @if (IsOwner || IsManager)
                    {
                        <div>
                            <a asp-action="index" asp-controller="Trainer" asp-route-gymid="@Model.trainer.GymId" class="btn btn-secondary">
                                Back to List
                            </a>

                            <a asp-controller="Trainer" asp-action="Edit" asp-route-Id="@Model.trainer.Id" class="btn btn-warning ms-2">
                                Edit
                            </a>
                        </div>



                        <div>
                            <form asp-action="Delete" asp-controller="Trainer" method="post" onsubmit="return confirm('Are you sure you want to delete this member')">
                                <input type="hidden" name="id" value="@Model.trainer.Id" />
                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
    @if (IsOwner || IsManager || IsTrainer)
    {
        @if (Model.AssignedMember != null)
        {
            @if (!Model.AssignedMember.Any())
            {
                <p class="text-muted">No members assigned yet.</p>
            }
            else
            {
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Age</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in Model.AssignedMember)
                        {
                            <tr>
                                <td>@member.MemberName</td>
                                <td>@member.Phone</td>
                                <td>@member.Age</td>
                                <td>
                                    <a asp-controller="Member" asp-action="Details"
                                    asp-route-id="@member.Id"
                                    class="btn btn-sm btn-outline-primary">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    }
</div>
