@using Gym_management_System.Models.MembershipPayments
@using System.Linq;
@model IEnumerable<MembershipPayment>

<h2>Active Members</h2>
<a asp-controller="Gym"
   asp-action="Details"
   asp-route-id="@Model.FirstOrDefault()?.Member.GymId"
   class="btn btn-secondary mb-3">
    Back to Gym
</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Plan</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>@payment.Member.MemberName</td>
                <td>@payment.MembershipPlan.MembershipPlanName</td>
                <td>@payment.Member.Id</td>
                <td>@payment.EndDate</td>
                <td>
                    <a href="/Member/Details/@payment.Member.Id"
                       class="btn btn-info btn-sm">
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>